<h1>Create snippet</h1>
<form class="row g-3" method="post" action="./snippets/create">
  <div class="col-md-12">
    <textarea class="form-control" id="snippetTextInput" rows="15" name="snippetText" placeholder="Enter a new snippet here" required="required" autofocus="autofocus"></textarea>
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Create</button>
  </div>
</form>