<h1>Delete snippet</h1>
<form class="row g-3" method="post" action="./snippets/<%= viewData?.id %>/delete">
  <input type="hidden" name="id" value="<%= viewData?.id %>" />
  <div class="col-md-12">
  <textarea class="form-control" rows="15" id="snippetInput" placeholder="Update snippet here" disabled>
      <%= viewData?.snippetText %>
      </textarea>
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary" autofocus="autofocus">Delete</button>
  </div>
</form>