<h1>Register</h1>
<form class="row g-3" method="post" action="./user/registration">
    <div class="col-md-12">
        <label class="form-label" for="usernameInput">
            Username
        </label>
        <input type="text" class="form-control" id="usernameInput" name="username" placeholder="Enter your username here" required="required" autofocus="autofocus" />
    </div>
    <div class="col-md-12">
        <label class="form-label" for="passwordInput">
            Password
        </label>
        <input type="password" class="form-control" id="passwordInput" name="password" placeholder="Enter your password here" required="required" />
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Register</button>
    </div>
</form>