<div class="jumbotron text-center">
  <div class="container">
    <h1 class="display-3">Snippets</h1>
  </div>
</div>

<div class="container my-5">
  <p class="text-justify" id="biggerText">
    Hej och välkommen till Snippets! Här kan du lagra, hämta, uppdatera och ta bort dina kodsnippet på ett enkelt och organiserat sätt. Vi hoppas du hittar allt du behöver för att effektivisera ditt utvecklararbete. Lycka till!
  </p>
</div>